<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
  <link rel="stylesheet" href="/static/chat/style.css">
</head>
<body>
  <div id="chat-container">
    <div id="messages"></div>
    <form id="message-form">
      <input type="text" id="message-input" autocomplete="off" placeholder="Type your message here..." />
      <button type="submit">Send</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
  <script src="/static/chat/chat.js"></script><!--chat.js가 Socket.IO 객체를 사용하기 때문에 socket.io 라이브러리 뒤에 와야함-->
</body>
</html>