@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")format('woff2');;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif; /* 기본 폰트 설정 */
}