<!-- 이미지 관리 섹션 -->
<section>
    <h3>이미지 관리</h3>
    <table class="table">
        <thead>
            <tr>
                <th>이미지 경로</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename=image['path']) }}" alt="이미지" style="width: 200px; height: auto;">
                </td>
                <td>
                    <form action="{{ url_for('list.manage_images', store_name=store['name'])}}" method="POST" style="display:inline;" onsubmit="return confirmAction('삭제', this)">
                        <input type="hidden" name="image_id" value="{{ image['image_id'] }}">
                        <input type="hidden" name="image_path" value="{{ image['path'] }}">
                        <input type="hidden" name="action" value="삭제">
                        <input type="submit" value="삭제">
                </td>
                    </form>
            </tr>
            {% endfor %}
        </table>
    </section>
    <!-- 이미지 추가 폼 -->
    <form action="{{ url_for('list.manage_images', store_name=store['name']) }}" method="POST" enctype="multipart/form-data" onsubmit="return confirmAction('추가', this)">
        <h4>이미지 추가</h4>
        <input type="hidden" name="store_id" value="{{ store['store_id'] }}">
        <input type="file" name="image" required>
        <input type="submit" name="action" value="추가">
    </form>
</div>
</tbody>